@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html{
    padding: 1%;
    margin: 0;
    background-color: rgb(7, 7, 47);
    color: rgb(236, 236, 236);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

p{
    top: 20px;
    text-align: justify;
    line-height: 3;
    font-size: 20px;
}

span {
    animation: textanimation .5s ease-out backwards;
    animation-delay: calc(10ms * var(--i));
    display: inline-block;
    position: relative;
}

@keyframes textanimation {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
    }
}