// Schriftarten von Google Fonts: Poppins, Raleway, Roboto und Work Sans (400, 500, 600)
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto&family=Work+Sans:wght@200;300;400;500;600&display=swap');


// Variablen

:root {
    --normaltextcolor: #fff;
    --normaltextshadow: #000;
}

// Grundsätzliche Einstellungen

* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; display: inline-block; position: relative; }
h1 { font-size: 8vh; font-weight: 600; font-family: 'Work Sans', sans-serif; }
h2 { font-size: 5vh; font-weight: 600; font-family: 'Work Sans', sans-serif; }
h3 { font-size: 4vh; font-weight: 600; font-family: 'Raleway', sans-serif; }
h4 { font-size: 3.5vh; font-weight: 500; font-family: 'Raleway', sans-serif; }
h5 { font-size: 2.5vh; font-weight: 400; font-family: 'Roboto', sans-serif; }
h6 { font-size: 2.2vh; font-weight: 400; font-family: 'Roboto', sans-serif; width: 40vw; text-align: justify; }
p { font-size: 2vh; font-weight: 300; font-family: 'Poppins', sans-serif; font-style: italic; }

// spezifische Einstellungen

body {
    background: #151515;
    overflow-x: hidden;

    & #page {
        position: relative;
        top: 0;
        left: 0;
        background: url(img/background.png);
        background-repeat: no-repeat;
        background-size: 500vw 400vh;

        & header {
            position: fixed;
            top: 0vh;
            left: 0px;
            width: 100vw;
            height: 16vh;
            display: flex;
            justify-content: space-between;
            z-index: 100;
            padding: 8vh 7vw 0 6vw;
            text-shadow: 1px 1px 2px var(--normaltextshadow);
            


            & .shortcut {
                color: var(--normaltextcolor);
                cursor: pointer;
                text-decoration: none; 
                display: inline-block; 
                position: relative;

                &::before { 
                    content: ''; 
                    background: var(--normaltextcolor);
                    box-shadow: 1px 1px 2px var(--normaltextshadow);
                    position: absolute; 
                    width: 100%; 
                    display: block;
                    transform: scaleX(0); 
                    height: 2px; 
                    bottom: 0; 
                    left: 0; 
                    transform-origin: bottom right; 
                    transition: transform 0.25s ease-out; 
                } 

                &:hover::before { 
                    transform: scaleX(1); 
                    transform-origin: bottom left; 
                }
            }

            & nav {
                display: flex;
                justify-content: space-between;

                & h5 {
                    margin-left: 2vw;
                }              
            }
        }         

        & .sections {
            position: absolute;
            top: 0;
            left: 0;
            width: 500vw;
            display: flex;
            justify-content: space-between;

            & section {
                width: 100vw;

                & section:nth-of-type(1) {
                    height: 100vh;
                }

                & section:nth-of-type(2) {
                    height: 250vh;
                }
            }

            & .home {
                color: var(--normaltextcolor);
                text-shadow: 1px 1px 2px var(--normaltextshadow);

                & .home_0 {
                    & h1 {
                        position: relative;
                        width: 100vw;
                        height: 40vh;
                        padding: 20vh 50vw 0 6vw;
                    }
                }

                & .home_1 {
                    & h3:nth-of-type(1) {
                        margin: 10vh 0 0 6vw;
                    }

                    & h6:nth-of-type(1) {
                        margin: 5vh 0 0 6vw;
                    }

                    & h3:nth-of-type(2) {
                        margin: 30vh 0 0 53vw;
                        width: 40vw;
                        text-align: right;
                    }

                    & h6:nth-of-type(2) {
                        margin: 5vh 0 0 53vw;
                    }

                    & h3:nth-of-type(3) {
                        position: absolute;
                        left: 6vw;
                        top: 260vh;
                    }

                    & h6:nth-of-type(3) {
                        position: absolute;
                        left: 6vw;
                        top: calc(265vh + 35px);
                    }
                }
            }

            & .familie {
                color: var(--normaltextcolor);
                text-shadow: 1px 1px 2px var(--normaltextshadow);

                & .familie_0 {
                    & h2 {
                        position: relative;
                        width: 100vw;
                        height: 40vh;
                        padding: 30vh 50vw 0 6vw;
                    }
                }

                & .familie_1 {                    
                    & h3:nth-of-type(1) {
                        margin: 10vh 0 0 53vw;
                        width: 40vw;
                        text-align: right;
                    }

                    & h6:nth-of-type(1) {
                        margin: 5vh 0 0 53vw;
                    }

                    & h3:nth-of-type(2) {
                        margin: 30vh 0 0 6vw;
                    }

                    & h6:nth-of-type(2) {
                        margin: 5vh 0 0 6vw;
                    }

                    & h3:nth-of-type(3) {
                        position: absolute;
                        left: 253vw;
                        top: 260vh;
                        text-align: right;
                        width: 40vw;
                    }

                    & h6:nth-of-type(3) {
                        position: absolute;
                        left: 253vw;
                        top: calc(265vh + 35px);
                    }
                }
            }

            & .schach {
                color: var(--normaltextcolor);
                text-shadow: 1px 1px 2px var(--normaltextshadow);

                & .schach_0 {
                    & h2 {
                        position: relative;
                        width: 100vw;
                        height: 40vh;
                        padding: 30vh 50vw 0 6vw;
                    }
                }

                & .schach_1 {
                    & h3:nth-of-type(1) {
                        margin: 10vh 0 0 6vw;
                    }
                    & h6:nth-of-type(1) {
                        margin: 5vh 0 0 6vw;

                        & a {
                            color: var(--normaltextcolor);
                            font-size: 20px;

                            &::before { 
                                content: ''; 
                                background: var(--normaltextcolor);
                                box-shadow: 1px 1px 2px var(--normaltextshadow);
                                position: absolute; 
                                width: 100%; 
                                display: block;
                                transform: scaleX(0); 
                                height: 2px; 
                                bottom: 0; 
                                left: 0; 
                                transform-origin: bottom right; 
                                transition: transform 0.25s ease-out;
                                box-shadow: 1px 1px 2px var(--normaltextshadow);
                            } 
            
                            &:hover::before { 
                                transform: scaleX(1); 
                                transform-origin: bottom left; 
                            }
                        }                        
                    }

                    & h3:nth-of-type(2) {
                        margin: 40vh 0 0 53vw;
                        width: 40vw;
                        text-align: right;

                        & img {
                            position: relative;
                            width: 5vw;
                            top: 4vh;
                            left: 5px;
                        }
                    }

                    & h6:nth-of-type(2) {
                        margin: 5vh 0 0 53vw;

                        & ul {
                            list-style-type: square;
                            padding-left: 3vw;
                            line-height: 3vh;

                            & li a {
                                color: var(--normaltextcolor);

                                &::before { 
                                    content: ''; 
                                    background: var(--normaltextcolor);
                                    box-shadow: 1px 1px 2px var(--normaltextshadow);
                                    position: absolute; 
                                    width: 100%; 
                                    display: block;
                                    transform: scaleX(0); 
                                    height: 2px; 
                                    bottom: 0; 
                                    left: 0; 
                                    transform-origin: bottom right; 
                                    transition: transform 0.25s ease-out; 
                                } 
                
                                &:hover::before { 
                                    transform: scaleX(1); 
                                    transform-origin: bottom left; 
                                }
                            }
                        }
                    }

                    & h3:nth-of-type(3) {
                        position: absolute;
                        left: 406vw;
                        top: 260vh;
                    }

                    & h6:nth-of-type(3) {
                        position: absolute;
                        left: 406vw;
                        top: calc(265vh + 35px);
                    }                    
                }
            }
        }
    }

    & .backtotop {
        background: #151515;
        border-radius: 50%;
        width: 2.5vw;
        height: 2.5vw;
        position: fixed;
        bottom: 20vh;
        right: 50vw;
        transform: translateX(50%) rotate(180deg);

        & img {
            width: 60%;
            color: var(--normaltextcolor);
        }       
    }

    .backtotop1 {
        animation: backtotop1 1300ms; //!!!WENN ZEIT VERÄNDERN -> IN JS AUCH!!!
    }

    .backtotop2 {
        animation: backtotop2 1300ms; //!!!WENN ZEIT VERÄNDERN -> IN JS AUCH!!!
    }

    @keyframes backtotop1 {
        50% {
            bottom: 8vh;
            right: 6vw;
            transform: translateX(0) rotate(-40deg);
        }
        100% {
            bottom: 8vh;
            right: 6vw;
            transform: translateX(0) rotate(0deg); // kann auch 360 / -360 stehen!!!!!!!!!!!!!!!!!!!!!!!!!! (viel Animation!)
        }
    }

    @keyframes backtotop2 {
        60% {
            bottom: 20vh;
            right: 50vw;
            transform: translateX(50%) rotate(-210deg);
        }
        100% {
            bottom: 20vh;
            right: 50vw;
            transform: translateX(50%) rotate(-180deg); // kann auch 180 stehen!!!!!!!!!!!!!!!!!!!!!!!!!!!!! (viel Animation!)
        }
    }

    & footer {
        color: rgb(194, 194, 194);
        position: fixed;
        bottom: 20vh;
        left: 0;
        width: 100vw;
        text-align: center;
        line-height: 4vh;
        pointer-events: none;
        z-index: -10;
        text-shadow: 1px 1px 2px black;

        & h5 {           
            font-size: 20px;
        }
    }

    & .hinterheaderaufsonne {
        position: absolute;
        top: calc(8vh - 8px);
        right: calc(7vw - 35px - 400vw);
        background-color: #02005C;
        width: calc(18px + 8.04vh + 2vw + 8.26vh + 18px);
        height: calc(10px + 2.5vh + 10px);
        border-radius: 22px;
        transform-origin: 70% -20vh;
    }

    .hinterheaderaufsonne1 {
        animation: hinterheaderaufsonne1 500ms;//!!!WENN ZEIT VERÄNDERN -> IN JS AUCH!!!
    }

    .hinterheaderaufsonne2 {
        animation: hinterheaderaufsonne2 500ms;//!!!WENN ZEIT VERÄNDERN -> IN JS AUCH!!!
    }

    @keyframes hinterheaderaufsonne1 {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(-90deg);
        }
    }

    @keyframes hinterheaderaufsonne2 {
        from {
            transform: rotate(90deg);
        }
        to {
            transform: rotate(0);
        }
    }
}

.middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}